npm-debug.log
node_modules
public/less/*
uploads
*.pyc
test/selenium/*.log
chromedriver.log
test/selenium/screenshot*.png
.DS_Store

bin/run_nodedevjs_with_reload

public/templates/MarketingHome.html

.ruby-version

*~
.#*
\#*\#

.vagrant/*
target/*
project/target/*
project/project/*
.history

data.pkl

.ensime
.ensime_lucene/*

email/suggestion/suggestion_email_converted.html

libs/*

phantomjsdriver.log